body {
  background-color: #121212;
  color: #fff;
  font-family: "Arial", sans-serif;
}
.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  background-color: #1e1e1e;
  border: none;
  padding: 8rem;
  border-radius: 10px;
  width: 100%;
  max-width: 100vh;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
.form-control {
  background-color: #2b2b2b;
  color: #fff;
  border: 1px solid #444;
}
.form-control:focus {
  background-color: #2b2b2b;
  border-color: #0056b3;
  color: #fff;
  box-shadow: none;
}
.btn-primary {
  background-color: #007bff;
  border: none;
  display: inline-block;
  margin-left: 0;
}
.btn-primary:hover {
  background-color: #0056b3;
}
.social-login img {
  width: 40px;
  height: 40px;
  margin: 0 10px;
  cursor: pointer;
}
h1 span {
  color: #007bff;
}
h1 .wave {
  display: inline-block;
  animation: wave 1s infinite;
}
@keyframes wave {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(20deg);
  }
}
